*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  text-align: center;
  margin:2rem 0 ;
}
h2{
  margin:2rem 0 ;
  text-align: center;
}
nav{
  display: flex;
  width:80vw;
  margin:0 auto;
  align-items: center;
  justify-content: center;
}
main{
  display: flex;
  width: 300vw;
  overflow: hidden;
}
.section_wrapper{
  width: 100vw;
  display: flex;
  justify-content: center;

}
